.env

# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# legacy mod config language file
/src/main/resources/assets/locator-border/lang/en_us.yml

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
